# Environment
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Logs
logs/
*.log

# Data
data/
*.csv
*.parquet
*.db
*.sqlite
*.sqlite3

# ML
models/
*.pkl
*.joblib
*.pt
*.pth

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db